h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: dodgerblue;
}

body {
    background-color: aquamarine;
}

#mainBox {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(194, 194, 194);
}
#mainBox > div {
    background-color: #ff5050;
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
}

#displayBox {
    display: flex;
    background-color: rgb(194, 194, 194);
    flex-wrap: nowrap;
}
#displayBox > div{
    background-color: rgb(253, 175, 72);
    text-align: center;
    width: 1500px;
    margin: 10px;
    line-height: 75px;
    justify-content: center;
    align-items: center;
}

p {
    font-size: x-large;
    text-align: center;
    line-height: 25px;
}

#laptopSelect{
    font-size: large;
}

#displayName {
    font-size: 30px;
    text-align: center;
}

#specsList{
    white-space: pre-line;  
    vertical-align: bottom;
}

button {
  background-color: inherit;
  border: none;
  color: rgb(9, 70, 238);
  padding: 15px 40px;
  text-align: center;
  text-decoration: solid;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
    background: rgb(132, 199, 23);
}

#laptopType {
    background-color: rgb(85, 241, 46);
    padding: 10px;
    position: relative;
    display: inline-block;
}